.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_avatar {
    height: 78px;

    .ant-avatar {
      cursor: pointer;
    }
  }
}

// 个人信息
.personal_info {
  cursor: pointer;
}
